.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4em;
  row-gap: 2em;
}

.listItem {
  padding: 2em;
  background-color: rgb(2, 178, 237);
  border-radius: 1em;
  width: 11em;
  text-align: center;
}

.listItem:hover {
  box-shadow: 1px 1px 3px rgb(130, 130, 130);
}
